<body>
  <main class="form-signin">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)">
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="businessName"
          placeholder="Business Name"
        />
        <label for="floatingInput">Business Name</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="businessAddress"
          placeholder="Business Address"
        />
        <label for="floatingInput">Business Address</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="businessCity"
          placeholder="Business City"
        />
        <label for="floatingInput">Business City</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="businessState"
          placeholder="Business State"
        />
        <label for="floatingInput">Business State</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="businessPhone"
          placeholder="Business Phone"
        />
        <label for="floatingInput">Business Phone</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control mt-2"
          formControlName="businessEmail"
          placeholder="Business Email"
        />
        <label for="floatingInput">Business Email</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          class="form-control mt-2"
          formControlName="username"
          placeholder="Username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control mt-2"
          formControlName="password"
          placeholder="Password"
        />
        <label for="floatingInput">Password</label>
      </div>
      <button
        class="w-100 btn btn-lg btn-dark mt-3"
        [disabled]="!signUpForm.valid"
        type="submit"
      >
        Sign Up
      </button>
    </form>
    <div *ngIf="validSignUp" class="alert alert-success mt-2 text-center">
      User created successfully.
    </div>
  </main>
</body>
