<body class="text-center">
    <main class="form-signin">
      <form [formGroup]="credForm" (ngSubmit)="login(credForm)">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div *ngIf="invalidLogin" class="alert alert-danger">
          Invalid username or password.
        </div>
        <div class="form-floating">
          <input
            type="text"
            class="form-control usernamecy"
            formControlName="username"
            placeholder="Username"
          />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control passwordcy"
            formControlName="password"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <button
          class="w-100 btn btn-lg btn-dark signincy"
          [disabled]="credForm.invalid"
          type="submit"
        >
          Sign in
        </button>
        <p class="mt-5 mb-3 text-muted">&copy; 2023–2024</p>
        <a [routerLink]="['/signup']" class="link-primary">New here? Click here to sign up</a>
      </form>
    </main>
  </body>